body {
  display: flex;
  justify-content: center;
}

#puzzle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 600px;
}

#puzzle > div {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;

  box-sizing: border-box;
  box-shadow: inset 8px 10px 6px -6px #8b7f89;
  border: 1px solid #634141;
  border-radius: 3px;

  cursor: pointer;
}

.light {
  background: #9dadb6;
}

.dark {
  background: #926f78;
}

div:nth-last-child(9):first-child,
div:nth-last-child(9):first-child ~ div {
  height: 200px;
  width: 200px;
}

div:nth-last-child(16):first-child,
div:nth-last-child(16):first-child ~ div {
  height: 150px;
  width: 150px;
}

div:nth-last-child(25):first-child,
div:nth-last-child(25):first-child ~ div {
  height: 120px;
  width: 120px;
}
